
li:hover a:hover {
    background-color: #21A7F6;
    color: lightblue;
    /*color: black;*/
}

li:visited a:visited {
    background-color: #21A7F6;
}

li:active a:active {
    background-color: #21A7F6;
}
li:link  a:link {
    background-color: #21A7F6;
}

